@font-face {
  font-family: 'Graphie';
  src: url('/assets/fonts/graphie/Graphie-Light.woff') format('woff'), url('/assets/fonts/graphie/Graphie-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Graphie';
  src: url('/assets/fonts/graphie/Graphie-Book.woff') format('woff'), url('/assets/fonts/graphie/Graphie-Book.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Graphie';
  src: url('/assets/fonts/graphie/Graphie-SemiBold.woff') format('woff'), url('/assets/fonts/graphie/Graphie-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Graphie';
  src: url('/assets/fonts/graphie/Graphie-Bold.woff') format('woff'), url('/assets/fonts/graphie/Graphie-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}


@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  body {
    @apply text-base font-normal	antialiased;
  }

  label {
    @apply inline-block text-sm	text-dark;
  }
}

@layer components {
  .display-4 {
    @apply text-4xl sm:text-4xl lg:text-5xl;
  }

  .h1 {
    @apply text-2xl sm:text-4xl lg:text-4xl;
  }

  .h2 {
    @apply text-2xl sm:text-2xl lg:text-4xl;
  }

  .h6 {
    @apply text-base sm:text-lg lg:text-lg;
  }

  .lead {
    @apply text-lg sm:text-2xl lg:text-2xl;
  }

  .form-control {
    @apply w-full px-6 py-3 text-sm font-normal placeholder-gray-500 text-black bg-white border border-theme-gray-100 rounded-lg focus:outline-none;
  }

  .form-check-label {
    @apply inline-flex items-start;
  }

  .form-check-text {
    @apply ml-2;
  }

  .form-check-input {
    @apply appearance-none w-5 h-5 inline-flex items-center justify-center cursor-pointer bg-white bg-no-repeat bg-contain bg-center border border-theme-gray-100 rounded focus:outline-none checked:bg-primary checked:bg-checked;
  }

  .btn {
    @apply inline-block px-6 py-3 text-base font-semibold capitalize rounded-lg;
  }

  .btn-white {
    @apply bg-white text-primary hover:text-black;
  }

  .btn-primary {
    @apply bg-primary text-white hover:text-primary-light;
  }

  .input-prepend {
    @apply relative;
  }

  .input-prepend-img {
    @apply absolute inline-block h-5 w-7 top-1/2 -mt-2.5 left-3;
  }

  .input-prepend .form-control {
    @apply pl-12;
  }

}

@layer utilities {
  .container {
    @apply max-w-screen-xl;
  }
}